body {
    width: 100%;
    height: 100%;
}

#batman{
    height:100%; 
    width: 50%;
    box-sizing: border-box;
    float: left;
}

#superman{
    height:100%; 
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.experiments.page3 {
  background:black;
  color: white;
}